<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css">
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <form action="#">
      <input type="text" placeholder="Enter Your Postal Code">
      <button type="submit">Search</button>
    </form>
    <p id="textOne"></p>
    <p id="textTwo"></p>
    {{>footer}}
      <p>&copy; 2023 Weather forecast</p>
    <script src="./js/script.js"></script>

  </body>
</html>
