body {
background-color: #4b4e4e;
/* background-color:#59aadc; */
 text-align: center;
 font-size: 20px;
 color: #ffffff;
}

form {
 display: flex;
 justify-content: center;
 margin-top: 3rem;
}

input[type="text"] {
 width:500px;
 height:45px;
 border: none;
 background: #ffffff;
 border: 1px solid #59aadc;
 font-size: 20px;
 padding-left: 20px;
}

::placeholder {
 font-style: italic;
 font-size: 1em;
color:#59aadc ;
}


button {
 width: 100px;
 height: 48px;
 font-style: italic;
 border: none;
 margin-left: 5px;
 background: #ffffff;
 border: 1px solid;;
  font-size: 20px;
  color: #59aadc;
}

button:hover {
 opacity: 0.9;
 color:#818d19;
 font-style: italic;
  border: 1px solid #59aadc;
  
   ;
}

h1 {
 font-style: italic;
 font-size: 40px;
 margin-top: 50px;
 text-align: center;
}

p {
 font-style: italic;
}


button,input:focus {
 outline: none !important;
 border-color: #719ECE;
 box-shadow: 0 0 10px #719ECE;

}